body {
    background: #f5f5f5;
    color: #4d4d4d;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 300;
}

#app {
    display: flex;
    justify-content: center;
}

h1.todo-header {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin-bottom: 20px;
}

.todo-wrapper {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    min-width: 550px; 
}

input.todo-input {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    outline: none; 
}

ul.list-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.list-group-item {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    padding: 15px 15px 15px 60px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4d4d4d;
}

li.list-group-item:last-child {
    border-bottom: none;
}

.delete-btn {
    display: none; 
    color: #cc9a9a;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    transition: color 0.2s ease-out;
}

.delete-btn:hover {
    color: #af5b5e;
}

li.list-group-item:hover .delete-btn {
    display: block;
}

.todo-footer {
    color: #777;
    padding: 10px 15px;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #e6e6e6;
   